.pokemon-card {
    background-color: #3c5aa6;
    border: 8px solid darkblue;
    border-radius: 5px;
    max-width: calc(100px + 4em);
    margin: 1em 0;
    padding: 0 2em;
    padding-bottom: 2em;
}
.pokemon-name {
    font-size: 20px;
    font-weight: bold;
}
.pokemon-card img.avatar {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}
.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-btn {
    border: none;
    padding: 1em;
    margin: 0 .25em;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    background-color: #FFDE00;
}
.collect-btn{
    background: none;
    border: none;
    cursor: pointer;
}
.collect-btn img {
    width: 25%;
}
.main-btn:hover {
    background-color: #B3A125;
}