<div *ngIf="pokemon" class="pokemon-card">
    <p>
        <span class="pokemon-name">{{pokemon.name}}</span><span>{{collected ? '(collected)' : ''}}</span>
    </p>
    <section>
        <img src="{{pokemon.avatar}}" (error)="setSrc()" [alt]="pokemon.name" class="avatar">
        <a class="collect-btn" (click)="addToCollection()">
            <img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png'>
        </a>
        <div class="btn-wrapper">
            <button class="main-btn" (click)="showStats()">{{showstats ? 'Hide basestats' : 'Show basestats'}}</button>
            <button class="main-btn" (click)="showAbilities()">{{showabilities ? 'Hide abilities' : 'Show
                abilities'}}</button>
        </div>
        <span *ngIf="showstats" class="pokemon-info">
            <h3>Base Stats</h3>
            <p *ngFor="let d of pokemon.baseStats">{{d}}</p>
        </span>
        <span *ngIf="showabilities" class="pokemon-info">
            <h3>Abilities</h3>
            <p *ngFor="let d of pokemon.abilities">{{d}}</p>
        </span>
    </section>
</div>