* {
    text-align: center;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main.title {
    margin: 0.5em auto;
}

.first-capital {
    text-transform: capitalize;
}