<aside class="absolute top-4 right-4">
    <button 
        (click)="addToCollectionClick()"
        class="border border-slate-300 rounded flex justify-center items-center p-2 text-pink-600">
        
        <ng-container *ngIf="inCollection; then favourite else notFavourite" class="material-icons"></ng-container>
    
        <ng-template #favourite>
            <span class="material-icons">favorite</span>
        </ng-template>
        <ng-template #notFavourite>
            <span class="material-icons">favorite_border</span>
        </ng-template>
    </button>
    </aside>