* {
    text-align: center;
}
.sticky-footer {
    display:flex;
    justify-content: center;
    bottom: 0;
    position:fixed;
    width: 100%;
    box-sizing: border-box;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}