@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --pokemon-lighter-blue: #3c5aa6;
    --pokemon-darker-blue: #00008d;
    --pokemon-yellow: #FFDE00;
    --pokemon-red: #CC0000;
    --somewhat-white: #f5f5f7;
 }

*{
    font-family: 'Open Sans', sans-serif;
}
body {
    font-size: 110%;
    margin: 0;
    padding: 0;
    background-image: url('https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png');
    background-repeat: repeat;
    color: var(--somewhat-white);
}
.main-btn {
    margin: 2em;
    background-color: white;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.main-btn:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
.main-btn:hover {
    filter:brightness(0.9)
}
@media only screen and (max-width: 460px) {
    .extra {
        display:none;
        margin: 0;
        padding: 0;
        visibility: hidden;
    }
}
